config.py
env/
__pycache__/
*/__pycache__/
.vscode
migrations/
logs/
webapp.db
readme.md
*.pyc
migrate.sh
webapp/user/__pycache__/models.cpython-37.pyc
webapp/user/__pycache__/views.cpython-37.pyc
webapp/log/__pycache__/models.cpython-37.pyc
webapp/log/__pycache__/views.cpython-37.pyc
.gitignore
migrate.sh
