{% extends 'base.html' %}

{% block content %}

<div class="container" style="margin-top:70px">
    <div class="row">
        <div class="col-sm-8">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <form action="{{ url_for('user.registration') }}" method="POST" enctype="multipart/form-data" class="form-group">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label }}
                    {{ form.username() }}
                    {% for error in form.username.errors %}
                    <div class="alert alert-warning">{{ error }}</div>
                    {% endfor %}         
                </div>
                <div class="form-group">
                    {{ form.fullname.label }}
                    {{ form.fullname() }}
                    {% for error in form.fullname.errors %}
                    <div class="alert alert-warning">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.email.label }}
                    {{ form.email() }}
                    {% for error in form.email.errors %}
                    <div class="alert alert-warning">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.phone.label }}
                    {{ form.phone() }}
                    {% for error in form.phone.errors %}
                    <div class="alert alert-warning">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                        {{ form.role.label }}
                        {{ form.role() }}
                        {% for error in form.phone.errors %}
                        <div class="alert alert-warning">{{ error }}</div>
                        {% endfor %}
                    </div>
                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password() }}
                </div>
                <div class="form-group">
                    {{ form.password2.label }}
                    {{ form.password2() }}
                </div>
                {{ form.submit() }}

            </form>
        </div>
    </div>
</div>

{% endblock %}