{% extends "base.html" %}

{% block content %}
<div class="container" style="margin-top:50px">
        <table>
            <tr valign="top">
                <td><img src="{{ user.avatar(128) }}"></td>
                <td>
                    <h1>User: {{ user.username }}</h1>
                    {% if user.about_me %}
                    <p>{{ user.about_me }}</p>                       
                    {% endif %}
                    {% if user.last_seen %}
                    <p>Last seen on: {{ user.last_seen.strftime('%d.%m.%Y') }}</p>
                    {% endif %}
                    <a class="nav-link btn btn-info" href="{{ url_for('user.edit_profile') }}">Редактировать</a>
                </td>
            </tr>
        </table>
    </div>

{% endblock %}