{% extends "base.html" %}

{% block content %}

<div class="container" style="margin-top:50px">
    <div class="row">
        <div class="col-sm-4">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-warning" role="alert">
                {% for message in messages %}
                {{ message }}<br>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </div>
    </div>
</div>

<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-10">
            <a href="{{ url_for('log.edit_post') }}" class="btn btn-success" role="button">Новая запись</a>
            <br>
            {% for post in posts %}
            <br>
            <div class="card">
                <div class="card-header">
                    <b> Автор: </b> {{ post.author.username }}
                    <b> Дата: </b> {{ post.timestamp.strftime('%H:%M  %d.%m.%Y') }}
                    <b>ID: <a href=" {{url_for('log.edit_post',id=post.id)}}">{{ post.id }}</a></b>
                </div>
                <div class="card-body">{{ post.text|safe }}</div>

            </div>
            {% endfor %}

            <br>
            <ul class="pagination justify-content-center">
                {% if next_url %}
                <li class="page-item"><a class="page-link" href="{{ next_url }}">Старые записи</a></li>
                {% endif %}
                <li class="page-item">...</li>
                {% if prev_url %}
                <li class="page-item"><a class="page-link" href="{{ prev_url }}">Новые записи</a></li>
                {% endif %}
            </ul>

        </div>
    </div>
</div>



{% endblock %}