<div class="card">
    <div class="card-header">
        <h5 class="card-title">{{ docs_body.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
            <b>Автор:</b>
            {{ docs_body.author.username }}
            <b> Дата: </b>
            {{ docs_body.timestamp.strftime('%H:%M  %d.%m.%Y') }}</h6>
        <a href="{{ url_for('log.edit_doc', id=docs_body.id) }}" class="card-link">Редактировать</a>
    </div>
    <div class="card-body">{{ docs_body.text|safe }}</div>

</div>