{% extends "base.html" %}

{% block content  %}
<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-10">
            <form action="" method="POST" class="form-group">            
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <h3>Новая запись:</h3>
                    {{ form.post }}
                    {% for error in form.post.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                {{ form.submit() }}
            </form>
        </div>
    </div>        
</div>

<div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-10">
        
                <ul class="pagination">
                    {% if prev_url %}
                    <li class="page-item"><a class="page-link" href="{{ prev_url }}">Вперед</a></li>
                    {% endif %}
                    {% if next_url %}
                    <li class="page-item"><a class="page-link" href="{{ next_url }}">Назад</a></li>
                    {% endif %} 
                </ul>
         
            {% for post in posts %}
                <div class="card">
                   <div class="card-header bg-info">
                        <b> Автор:</b> {{ post.author.username }}
                        <b> Дата:</b> {{ post.timestamp.strftime('%H:%M  %d.%m.%Y') }}
                        <b>ID:</b> 
                   </div> 
                   <div class="card-body">{{ post.text }}</div>                  
               </div>
               <br>
           {% endfor %}
        
        
                <ul class="pagination">
                    {% if prev_url %}
                    <li class="page-item"><a class="page-link" href="{{ prev_url }}">Вперед</a></li>
                    {% endif %}
                    {% if next_url %}
                    <li class="page-item"><a class="page-link" href="{{ next_url }}">Назад</a></li>
                    {% endif %} 
                </ul>
        
            </div>
        </div>
        </div>


{% endblock %}